/* disable scrolling by setting the overflow attribute to hidden */
/* body,
#modalDialog {
  overflow: hidden;
} */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#modalDialog {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  animation: fadeIn 0.4s ease-in-out;
}

.modalContainer {
  background: #cccccc;
  padding: 10px;
  border-radius: 3px;
  min-width: 40vw;
  min-height: 40vh;
}

.modalHeaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalHeader {
  margin: auto;
  display: inline-block;
}

.modalButton {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  float: right;
}
/* Manage Content  / Manage component styling */
.manageContainer {
  display: flex;
  min-height: 40vh;
}

.manageContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* end manage component styling */

.editButton {
  border: none;
  background: transparent;
  font-size: 2.1rem;
  color: var(--mainWhite);
  padding: 5px;
  margin: 5px;
}

a .editButton {
  text-decoration: none;
}

.editButton:hover {
  text-decoration: none;
  color: var(--brandColor);
}

.deleteButton {
  border: none;
  background: transparent;
  color: #fc4040;
  font-size: 2.1rem;
  padding: 5px;
}

.deleteButton:hover {
  text-decoration: none;
  color: #ff5e5e;
}

.closeIcon {
  font-size: 1.7rem;
}
