/* disable scrolling by setting the overflow attribute to hidden */
/* body,
#modal {
  overflow: hidden;
} */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#modalDialog {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  animation: fadeIn 0.4s ease-in-out;
}

.modalContainer {
  background: #cccccc;
  padding: 10px;
  border-radius: 3px;
  width: 90vw;
  height: 90vh;
}

.modalHeaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalHeader {
  margin: auto;
  display: inline-block;
}

.modalButton {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  float: right;
}

.editButton {
  border: none;
  background: var(--brandColor);
  color: var(--mainWhite);
  padding: 5px;
  margin: 5px;
}
/* Manage Content  / Manage component styling */
.manageContainer {
  display: flex;
  height: 90vh;
}

.manageContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-left: 1px solid black;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* end manage component styling */

a .editButton {
  text-decoration: none;
}

.editButton:hover {
  text-decoration: none;
  color: var(--mainWhite);
}

.deleteButton {
  border: none;
  background: red;
  color: var(--mainWhite);
  padding: 5px;
}

.deleteButton:hover {
  text-decoration: none;
  color: var(--mainWhite);
}

.closeIcon {
  font-size: 1.7rem;
}
