.inventoryFormContainer {
  min-height: 70vh;
  background: var(--altBrandColor);
}

.inventoryFormHeader {
  margin: 80px 0 0 0;
  background: var(--altBrandColor);
  color: var(--mainWhite);
  padding: 10px;
  text-align: center;
}

.formContainer {
  background: #cccccc;
  margin: 0 auto 20px auto;
  padding: 10px;
}
.redBorder {
  border: 1px solid red !important;
}

.formLabel {
  font-size: 1.8rem;
}

.formInput {
  border: 1px solid black;
  height: 35px;
  font-size: 14px;
  padding: 1.5px;
}

.formTextArea {
  border: 1px solid black;
  font-size: 14px;
  height: 100px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.formButton {
  border: 1px solid black;
  background: white;
  border-radius: 3px;
  padding: 5px;
}

.formButton:hover {
  cursor: pointer;
}

/* The custom styles that we want to use when creating a button */
.primaryButton {
  border: none;
  background: var(--altBrandColor);
  color: var(--mainWhite);
  text-align: center;
}

.primaryButton:hover {
  color: var(--mainWhite);
  text-decoration: none;
}

.secondaryButton {
  border: none;
  background: var(--altBrandColor);
  color: var(--mainWhite);
}
