.inventoryContainer {
  background-image: url("/images/inventrack.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingHeaderWrapper {
  border: 4px solid var(--brandColor);
  padding: 20px;
}

.landingHeader {
  text-align: center;
  color: var(--brandColor);
  font-size: 55px;
}

.landingParagraph {
  text-align: center;
  color: var(--brandColor);
  font-size: 20px;
  font-weight: 900;
}
