.pricingCardContainer {
  border: 1px solid black;
  margin-bottom: 20px;
}

.pricingCardHeader {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  padding: 10px 0;
  color: white;
  background: #000000;
}

.priceHeader {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: black;
}
