.loginContainer {
  min-height: 75vh;
  background: #cccccc;
}

.loginLink {
  color: var(--mainWhite);
  font-size: 30px;
}

.loginLink:hover {
  color: var(--mainWhite);
}

.loginFormHeader {
  color: var(--mainWhite);
  margin: 0;
}

.loginFormWrapper {
  background: var(--brandColor);
  padding: 20px;
  width: 100%;
  height: 400px;
}

.loginBackground {
  position: relative;
  background: var(--brandColor);
  width: 100%;
  height: 400px;
  margin: 110px auto 20px auto;
}

.loginForm {
  padding: 20px 10px;
}

.loginWhite {
  position: absolute;
  top: -20px;
  left: 20px;
  background: var(--mainWhite);
  width: 400px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  height: 110%;
}

.loginButton {
  width: 50%;
  background: var(--brandColor);
  color: var(--mainWhite);
  border: none;
  transition: all 0.3s ease-in-out;
}

.loginButton:hover {
  background: #05ffa2;
}

.registerWrapper {
  position: absolute;
  left: 470px;
}

@media only screen and (max-width: 600px) {
  .loginBackground {
    width: 100%;
    height: 100%;
  }

  .loginWhite {
    position: initial;
    width: 100%;
  }

  .registerWrapper {
    position: initial;
    width: 100%;
  }
}
